#section1{
	padding-top:50px;
	height:500px;
	color: #000; 
	background-color: #FFF;
}

#section2{
	padding-top:50px;
	height:500px;
	color: #fff; 
	background-color: #000;
}
#section3{
	padding-top:50px;
	height:500px;
	color: #000; 
	background-color: #FFF;
}
#section41{
	padding-top:50px;
	height:500px;
	color: #fff; 
	background-color: #000;
}
#section42 {
	padding-top:50px;
	height:500px;
	color: #000; 
	background-color: #FFF;}
