html, body {
	height: 100%;
}

body {
	overflow-y: hidden;
	overflow-x: hidden;
}

#intro{
	padding-top:50px;
	height:500px;
	color: #000; 
	background-color: #FFF;
	height: 100%;
}

#project{
	padding-top:50px;
	height:500px;
	color: #fff; 
	background-color: #000;
	height: 100%;
}
#contact{
	padding-top:50px;
	height:500px;
	color: #000; 
	background-color: #FFF;
	height: 100%;
}